*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: crimson;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.library {
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 20vw;
  overflow-y: scroll;
  background: #fff;
  color: #000;
  transition: 0.3s linear all;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5rem;
    width: 100%;
    background: crimson;
    color: #fff;
  }
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
  transition: 0.3s all;
}

@media (min-width: 0) and (max-width: 768px) {
  .library {
    img {
      width: 100%;
    }
  }
}
