.player {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}
.time-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem;
  }
}

.player-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  svg {
    cursor: pointer;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .time-control {
    width: 95%;
  }
  .player-control {
    width: 55%;
  }
}
